.jumbotron {
  background-color: #0B7A7A;
  color: #75BA10;
  margin-top: 50px;
  margin-bottom: 0;
}
/* .btn {
      background-color: turquoise;
  } */
.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0;
}
.btn-reserva {
  width: 150px;
  margin: 10px;
  padding: 5px 5px;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
footer {
  padding: 10px 10px 10px;
  background-color: #0B7A7A;
  margin-bottom: 0px;
  margin-top: 10px;
}
.nav-tabs {
  padding-top: 10px;
}
.row {
  padding-left: 150px;
}
.presentacion {
  margin-top: 15px;
  margin-bottom: 15px;
}
.carousel {
  padding-top: 15px;
}
.d-block {
  height: 300px;
}
