<!-- header>nav^p el gorrito es saltar el contenedor y ponero a bajo ell gorrito es para salirse el padre -->
<header>
    <nap></nap>
</header>
<p></p>
<!-- hijo con clase de nav header>nav.clase-->
<header>
    <nav class="clase"></nav>
</header>
<!-- si quiero multiplicar la etiqueta * y quiero ponerle texto a{hola}*7 y si quisiera editar el atributo seria a[href="#"]{Dame Click}*3 -->
<a href="">hola</a>
<a href="">hola</a>
<a href="">hola</a>

<a href="#">dame Clik</a>
<a href="#">dame Clik</a>
<a href="#">dame Clik</a>

<!-- otro ejemplo header>nav>.contenedor-enlaces>a[href="#"]{hola}*3-->
<header>
    <nav>
        <div class="contenedor-enlaces">
            <a href="#">hola</a>
            <a href="#">hola</a>
            <a href="#">hola</a>
        </div>
    </nav>
</header>
<!-- imprimir numeros del 1 al 10   p{$}-->
<p>1</p>
<p>2</p>
<!-- interaccion clase $ li.clase$*7 -->
<li class="clase1"></li>
<li class="clase2"></li>
<li class="clase3"></li>

<!-- agrupar todos los elementos y hacerlo hermano de p header>(nav>ul>li{hola}*5)+p los parentecis es para agrupar-->
<header>
    <nav>
        <ul>
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>
            <li>hola</li>
        </ul>
    </nav>
    <p></p>
</header>